@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Mulish:700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-colour: #f0f7f4;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  line-height: 1.5;
  /*min-height: 100vh;*/
  font-family: "Mulish", sans-serif;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}
